
    <div class="center hero-unit">
	<br>
          <h2>Welcome to play Rock-paper-scissors-lizard-spock Game!</h2>
          <h2>You&rsquo;re riding Ruby on Rails!</h2>
		  <br />
          <h2>Getting started</h2>
          <h2>Here choose one that you want to play:</h2>
          <br />
		   
		  <div class="container">		    
		    <div class="row">			
		      <div class="span3">
                <p><a href="/pages/rock" class="btn btn-large btn-success" >Play Rock</a> </p>
                <p><a href="/pages/paper" class="btn btn-large btn-success">Play Paper</a> </p>
                <p><a href="/pages/scissors" class="btn btn-large btn-success">Play Scissors</a></p>
                <p><a href="/pages/lizard" class="btn btn-large btn-success">Play Lizard</a></p>
                <p><a href="/pages/spock" class="btn btn-large btn-success">Play Spock</a></p>
		      </div>
		      <div class="span8">
	            <a href=/pages/home title="Rock-paper-scissors-lizard-spock Game"> 
                <img src="http://fbcoverlover.com/covers/big-bang-theoryi-3-fb-Facebook-Profile-Timeline-Cover.jpg"></a> 
              </div>
			
            </div>
		 </div>
	 </div> 	  
    
