 
<div class="center hero-unit">
  <br>
  <h2>You played <%= @player_throw %>. </h2>
  <h2>Computer played <%= @computer_throw %>.</h2> 
  <h2> <%= @title %></h2>
 <br>
 <p><a href="/pages/home" class="btn btn-large btn-primary">Play again</a></p>
 <p><a href="/pages/stat" class="btn btn-large btn-primary">See Stat</a></p>
 
 </div> 