<div class="center hero-unit">
  <br>
  <h2>See the statistics</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
       <th><strong>You Win</strong></th>
       <th><strong>You Tie</strong></th>
	   <th><strong>You lose</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><strong><%= @w %> times</strong></td>
       <td><strong><%= @t %> times</strong></td>
	   <td><strong><%= @l %> times</strong></td>
      </tr>
    </tbody>
   </table>
  <br>
  <p><a href="/pages/home" class="btn btn-large btn-primary">Continue Playing</a></p>
  <p><a href="/pages/index" class="btn btn-large btn-primary">Play the game again</a></p>
 
  </div>
 </div> 